<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/application.scss">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <nav class="navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1  nav nav-pills">
            <a href= "/" class="blue-ivy">Home</a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">

          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 nav nav-pills">
            <a href= "/about" class="blue-ivy">About</a>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 nav nav-pills">
            <a href= "/thekoopmankode" class="blue-ivy">Blog</a>
          </div>
          <div class="nav_bar_sign", style="float:right">
            <% if session[:admin_id] %>
              <a href= "/logout" class="blue-ivy"><sup class="email-tag"></sup> <span class="glyphicon glyphicon-log-out"></span></a>
            <% else %>
              <a href= "/login" class="blue-ivy"><sup class="email-tag"></sup> <span class="glyphicon glyphicon-log-in"></span></a>
            <% end%>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid double-pad-top">
      <div class="row quad-pad-top">
        <% if session[:admin_id] %>
          <div class="col-xs-1 col-sm-1 col-md-1">
              <%= link_to "Admin", admin_path(session[:admin_id]), method: :get, :class => 'blue-ivy' %>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2" align="center">
            <a href= "/posts/new" class="blue-ivy" >New Post</a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <a href= "/categories/new" class="blue-ivy" >New Category</a>
          </div>
        <% end %>
      </div>
    </div>


    <div class="container center-vert-half">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h2 align="center">Say Hello!</h2>
            <hr width="70%">
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <%= form_for (@contact) do |f| %>
            <%= f.label :name %><br>
            <%= f.text_field :name, :class => "col-xs-12 col-sm-12 col-md-12" %><br>
            <br>
            <%= f.label :email %><br>
            <%= f.email_field :email, :class => "col-xs-12 col-sm-12 col-md-12" %><br>
            <br>
            <label>What's up?</label><br>
            <%= f.text_area :message, :class => "col-xs-12 col-sm-12 col-md-12" %><br>
            <br>
            <div class="hidden">
              <%= f.label :nickname %><br>
              <%= f.text_field :nickname, hint: 'leave blank' %><br>
            </div>
            <br>
            <div class="" align="center">
              <%= f.submit "Send",:class => "btn btn-primary pad-top-bottom pad-left-right half-sub-title", :align => "center"%>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>

    <nav class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1">
          </div>
          <div class="col-xs-8 col-sm-8 col-md-9 double-pad-top">
            <h6>www.raoulkoopman.com                              <span class="glyphicon glyphicon-tree-conifer"></span>                                     2016</h6>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-2 half-pad-top">
            <a href= "/contact" class="blue-ivy"><sup class="email-tag">Email Me</sup> <span class="glyphicon glyphicon-envelope icon-size"></span></a>
          </div>

        </div>
      </div>
    </nav>

  </body>
</html>
