<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container nav nav-pills nav-justified">
      <nav class="navbar-default navbar-fixed-top col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5  nav nav-pills">
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 nav nav-pills">
              <a href= "/about" class="blue-ivy">About</a>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 nav nav-pills">
              <a href= "/thekoopmankode" class="blue-ivy">Blog</a>
            </div>
            <div class="nav_bar_sign", style="float:right">
              <% if session[:admin_id] %>
                <a href= "/logout" class="blue-ivy"> <span class="glyphicon glyphicon-log-out"></span></a>
              <% else %>
                <a href= "/login" class="blue-ivy"> <span class="glyphicon glyphicon-log-in"></span></a>
              <% end%>
            </div>
          </div>
        </div>
      </nav>
      <% if session[:admin_id] %>
        <div class="container-fluid double-pad-top">
          <div class="row quad-pad-top">
              <div class="col-xs-1 col-sm-1 col-md-1">
                  <%= link_to "Admin", admin_path(session[:admin_id]), method: :get, :class => 'blue-ivy' %>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2" align="center">
                <a href= "/posts/new" class="blue-ivy" >New Post</a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <a href= "/categories/new" class="blue-ivy" >New Category</a>
              </div>
          </div>
        </div>
        <% end %>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <%= form_for(@post) do |f| %>
            <div class="col-md-2">
              <%= f.submit %><br>
            </div>
            <div class="col-md-6">
              <div class="col-md-4">
                <label>Post title:</label>
              </div>
              <div class="col-md-8">
                <%= f.text_field :title %>
              </div>
            </div>
            <div class="col-md-4">
              <label>Category:</label>
              <select name="post[category_id]" type="text">
                  <%Category.all.each do |cat|%>
                      <option value="<%=cat.id%>"><%=cat.name%></option>
                  <%end%>
              </select><br>
            </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <%= f.trix_editor :body, :class => "white" %>
        </div>
      </div>
      <% end %>
    </div>





  </body>
</html>
